# Configurações da Groq
GROQ_API_KEY=gsk_fake_key_for_development_replace_me

# Configurações do Banco de Dados Vetorial (Qdrant)
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=

# Parâmetros de Inteligência Artificial
LLM_MODEL=llama3-8b-8192
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

# Configurações da Coleção de Vetores
VECTOR_COLLECTION_NAME=rag_collection
VECTOR_DIMENSION=384
